{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>-User Permission List-</h2>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">First name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Last name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Last Name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter User Name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
{% endblock content %}

{% block extra_script %}
<script>
  url = 'http://127.0.0.1:8000/api/auth/users/'
  // let myObject = await fetch(url, {method: 'POST',});

  fetch(url)
    .then(res => res.json())
    .then()

</script>
{% endblock extra_script %}